@import '../../sass/base.scss';
@import '../../sass/layout.scss';

.Bubble__name {
  position: relative;
  color: #222430;
  font-weight: 900;
  font-size: 1.25rem;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.react-icons {
  
}
    
.Bubble {
	position: absolute;
	border-radius: 100%;
}

.Bubble__right {
  animation: floatR 20s ease forwards 1;
}

.Bubble__left {
  animation: floatL 20s ease forwards 1;
}

.Bubble__pulsing {
  animation: floatUp 20s ease forwards 1, pulse 2s ease-out infinite;
}

.Bubble:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 100%;
  background: radial-gradient(circle at top, white, rgba(255, 255, 255, 0) 58%);
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2; 
}

.Bubble:after {
  content: "";
  position: absolute;
  display: none;
  top: 5%;
  left: 10%;
  width: 80%;
  height: 80%;
  border-radius: 100%;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  z-index: 2;
  -webkit-transform: rotateZ(-30deg);
  transform: rotateZ(-30deg); 
}

.Bubble .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
  -webkit-transform: rotateX(90deg) translateZ(-160px);
  transform: rotateX(90deg) translateZ(-160px);
  z-index: 1; 
}

.Bubble.plain {
  background: black; 
}

.Bubble.plain:before, .Bubble.plain:after {
  display: none; 
}

.Bubble:before {
  -webkit-filter: blur(0);
  filter: blur(0);
  height: 80%;
  width: 40%;
  background: radial-gradient(circle at 130% 130%, rgba(255, 255, 255, 0) 0, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.8) 50%, rgba(255, 255, 255, 0.8) 58%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0) 100%);
  -webkit-transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg);
  transform: translateX(131%) translateY(58%) rotateZ(168deg) rotateX(10deg); 
}

.Bubble:after {
  display: block;
  background: radial-gradient(circle at 50% 80%, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 74%, white 80%, white 84%, rgba(255, 255, 255, 0) 100%); 
}
    
@keyframes floatR {
  to {
    top: -150px;
    transform: translate(150%, -50%);
  }
}

@keyframes floatL {
  to {
    top: -150px;
    transform: translate(-250%, -50%);
  }
}

@keyframes floatUp {
  to {
    top: -250px;
    transform: translate(-250%, -50%);
  }
}

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); 
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); 
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); 
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); 
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); 
  }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); } 
  }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); 
  }

  20% {
    -webkit-transform: scaleY(0.95) scaleX(1.05);
    transform: scaleY(0.95) scaleX(1.05); 
  }

  48% {
    -webkit-transform: scaleY(1.1) scaleX(0.9);
    transform: scaleY(1.1) scaleX(0.9); 
  }

  68% {
    -webkit-transform: scaleY(0.98) scaleX(1.02);
    transform: scaleY(0.98) scaleX(1.02); 
  }

  80% {
    -webkit-transform: scaleY(1.02) scaleX(0.98);
    transform: scaleY(1.02) scaleX(0.98); 
  }

  97%, 100% {
    -webkit-transform: scale(1);
    transform: scale(1); 
  } 
}