@import '../../sass/_base.scss';
@import '../../sass/_layout.scss';

.LoadingNavbar { 
  height: 10rem;
  border-bottom: 5px $blue solid;
  background-color: $border-color;
  @include center-vertical;
  display: flex;
  overflow: hidden;
}

.LoadingNavbar__title { 
  font-size: 7rem;
  color: $background-color;
  font-weight: 800;
  margin-top: 1.25rem;
  margin-left: 1rem;
  visibility: hidden;
}

.LoadingNavbar__subTitle { 
  font-size: 7rem;
  color: $border-color;
  font-weight: 800;
  margin-top: 1.25rem;
  margin-right: 1rem;
  visibility: hidden;
}

.LoadingNavbar__titleContainer { 
  background-color: $foreground-color;
  border-radius: 100%;
  height: 11rem;
  width: 11rem;
  display:flex;
  margin-left: 0.5rem;
  visibility: hidden;
}

.LoadingNavbar__descriptionContainer {
  width: 100%;
  text-align: right;
  color: $foreground-color;
  margin-right: 0.5rem;
  font-weight: 900;
}

.LoadingNavbar__name {
  font-size: 3rem;
}

.LoadingNavbar__position {
  font-size: 1rem;
  padding: 0.5rem;
}

.LoadingNavbar__logo { 
  height: 3rem;
}

.LoadingNavbar--isLoading{ 
  height: 5px;
  margin-top: -4px;
}

@media only screen and (max-width: 600px) {
  .LoadingNavbar__titleContainer { 
    visibility: visible;
  }

  .LoadingNavbar__title { 
    visibility: visible;
  }
  
  .LoadingNavbar__subTitle { 
    visibility: visible;
  }

  .LoadingNavbar__name {
    font-size: 1.5rem;
  }
  
  .LoadingNavbar__position {
    font-size: 0.75rem;
  }
}