@import '../../sass/base.scss';
@import '../../sass/layout.scss';


.MainPage {
  background-color: $background-color;
  height: 100vh;
}

.Main {
  display: flex;
}

.Main__versions {
  color: $foreground-color;
  position: absolute;  
  right: 0;
  margin-top: $xxx-small;
  @include side-margins;
}

.Main__section {
  color: $foreground-color;
  font-weight: 900;
  font-size: 1.5rem;
  text-align: center;
}

.Main__subSection {
  color: $foreground-color;
  font-weight: 900;
  font-size: 1.25rem;
  text-align: center;
}

.Main__aceEditor {
  margin: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 70%;
}

#editor {
  width: 100% !important;
}

.Main__divider {
  margin-left: 20%;
  margin-right: 20%;
  border-bottom: 5px $blue solid;
}

.Main__paragraph {
  color: $foreground-color;
  font-weight: 900;
  font-size: 1rem;
  text-align: left;
  margin-left: 10%;
  margin-right: 10%;
}

.Main__blockContainer {
  width: 100%;
}

.Main__menuContainer {
  width: 20rem;
  height: 100vh;
}

.Main__contentContainer {
  background-color: $background-color;
  width: 100%;
  height: 100%;
}

.Main__menuShownMobile {
  width: 100%;
  visibility: visible;
}

.Main__contentHiddenMobile {
  width: 0rem;
}

.Main__highlight {
  color: $cursor-color;
}

.Main__menuIcon {
  color: $foreground-color;
  position: absolute;
  top: 10px;
  right: 10px;
  visibility: hidden;
}


@media only screen and (max-width: 600px) {
  .Main__menuContainer {
    width: 0rem;
    visibility: hidden;
  }

  .Main__menuIcon {
    visibility: visible;
  }

  .Main__subSection {
    font-size: 1rem;
  }
  
  .Main__paragraph {
    font-size: 0.75rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }

  .Main__aceEditor {
    width: 95%;
  }
}