@import '../../sass/_base.scss';
@import '../../sass/_layout.scss';

.Menu {
  height: 100%;
  background-color: $border-color;
}

.Menu__contentContainer {
  height: calc(100vh - 13rem - 20px);
  // overflow-y: scroll;
  // overflow-x: hidden;
}

.Menu__section {
  color: $foreground-color;
  margin-left: 1rem;
  font-weight: 900;
  font-size: 1rem;
  text-align: left;
  width: 100%;
  margin-top: 2rem;
  padding-bottom: 2rem;
}

.Menu__section:hover {
  cursor: pointer;
}

.Menu__subSection {
  color: $foreground-color;
  margin-left: 3rem;
  font-weight: 900;
  font-size: 0.5rem;
  text-align: left;
  width: 100%;
  padding-top: 1rem;
}

.Menu__subSection:hover {
  cursor: pointer;
}


.Menu__title { 
  font-size: 9rem;
  color: $background-color;
  font-weight: 800;
  margin-top: 1.25rem;
  margin-left: 1rem;
}

.Menu__subTitle { 
  font-size: 9rem;
  color: $border-color;
  font-weight: 800;
  margin-top: 1.25rem;
  margin-right: 1rem;
}

.Menu__circleContainer { 
  background-color: $foreground-color;
  border-radius: 100%;
  height: 13rem;
  width: 13rem;
  display:flex;
  margin-left: 0.5rem;
}

.Menu__titleContainer {
  height: 10rem;
  overflow: hidden;
  @include center;
  margin-right: 1rem;
}

.Menu__linksContainer {
  display: flex;
  color: $foreground-color;
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.Menu__linkIcon {
  padding: 1rem;
}

.Menu__linkIcon:hover {
  cursor: pointer;
}

.Menu__downloadIcon {
  padding: 1rem;
}

.Menu__downloadIcon:hover {
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .Menu__titleContainer {
    height: 0rem;
  }

  .Menu__contentContainer {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
  }
}

